<%- include('partials/header'); -%>

<div class="home content">
 

    <table id="coinsTable" class="custom-table">
      <thead>
        <tr>
       
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Side</th>
          <th scope="col">Name</th>
          <th scope="col">Amount </th>
          <th scope="col">Buy Price per coin $</th>
          <th scope="col">Buy Price in total $</th>
          <th scope="col">Current Price Per Coin $</th>
          <th scope="col">Current Price in Total $</th>
          <th scope="col">Profit/Loss</th>

        </tr>
      </thead>
      <tbody id="myTable">
        <%newEntries.forEach(function (newEntry) {%>
          <% const id = newEntry.trans._id;%>
          <% const logo = newEntry.trans.logo;%>
          <%const date= newEntry.trans.date;%>
          <%const time= newEntry.trans.time;%>
          <%const side = newEntry.trans.side;%>
          <%const name = newEntry.trans.name;%>
          <%const amount = shortNumber(newEntry.trans.amount);%>
          <%const buyPricePercoin = currency(newEntry.trans.buyPricePerCoin)%>
          <%const buyPriceInTotal = currency(newEntry.trans.buyPriceInTotal)%>
          <%const currentPricePerCoin = currency(newEntry.trans.currentPricePerCoin)%> 
          <%const currentPriceIntotal = currency(newEntry.trans.currentPriceInTotal)%>
          <%const profit = currency(newEntry.trans.profit) %>
  

        <tr>
          <td> <%= date %></td>
          <td> <%= time %></td>
          <td id="side"><%=side%></td>
          <td><img src="<%=logo%>" width="30px" height="30px" class="d-inline-block align-top" alt=""> <%=name%></td>
          <td><%=amount%></td>
          <td><%=buyPricePercoin%></td>
          <td><%=buyPriceInTotal%></td>
          <td><%=currentPricePerCoin%></td>
          <td><%=currentPriceIntotal%></td>

          
          <td class="redGreed"><%=profit%></td>
         
        </tr>
        <% });%>
      </tbody>
    </table>
  
</div>


<script>
  //  change side color based on value
  $(document).ready(function() {
    $("tr").find('td').each(function() {
      if ($(this).text() === "BUY") {
        $(this).css({
          "color": "green"
        })
      } else if ($(this).text() === "SELL") {
        $(this).css({
          "color": "red"
        })
      };


    });
  })
</script>
<!-- //dynamic table -->
<script>
  $(document).ready(function() {
    $('#coinsTable').DataTable({
      "iDisplayLength": 25,
      "aLengthMenu": [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
      ],
      "language": {
        "lengthMenu": "Show rows _MENU_ ",
        "paginate": {
          "next": ">",
          "previous": "<"
        }
      }
    });
  });
</script>
<script>
   // change color basen on value
   $(document).ready(function() {
    $(".redGreed").each(function() {
      var value = $(this).text();

      if (value.includes("-")) {
        $(this).addClass("red");
      } else {
        $(this).addClass("green");
      };
    })
  });
</script>

<% // Functions to retuns number in currency or precentage format 
       function currency(num) { 
         return new Intl.NumberFormat('de-DE', 
         { style: 'currency' , currency: 'USD' , maximumSignificantDigits: 4, 
         }).format(num); };
     
         function percent(num) { 
           return new Intl.NumberFormat('default',
          { style: 'percent' , minimumFractionDigits: 2,
         maximumFractionDigits: 2, 
         }).format(num / 100); } 
         
         function shortNumber(num) { 
           return new Intl.NumberFormat('de-DE',
         { maximumSignificantDigits: 3
          }).format(num); } //----------------end functions Teil ----------// 
          %>

<%- include('partials/footer'); -%>