<%- include('partials/header'); -%>

<div class="home content">
  <form action="/myentries" method="post">

    <table id="coinsTable" class="custom-table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Side</th>
          <th scope="col">Name</th>
          <th scope="col">Amount </th>
          <th scope="col">Buy Price per coin $</th>
          <th scope="col">Buy Price in total $</th>
          <th scope="col">Current Price Per Coin $</th>
          <th scope="col">Current Price in Total $</th>
          <th scope="col">Profit/Loss</th>

        </tr>
      </thead>
      <tbody id="myTable">
        <%newEntries.forEach(function (newEntry) {%>
        <% const id = newEntry._id;%>
        <%const date= newEntry.date;%>
        <%const time= newEntry.time;%>
        <%const side = newEntry.side;%>
        <%const name = newEntry.name;%>
        <%const amount = shortNumber(newEntry.amount);%>
        <%const buyPricePercoin = currency(newEntry.buyPricePerCoin)%>
        <%const buyPriceInTotal = currency(newEntry.buyPriceInTotal)%>
        <%const currentPricePerCoin = currency(newEntry.currentPricePerCoin)%> 
        <%const currentPriceIntotal = currency(newEntry.currentPriceInTotal)%>
        <%const profit = currency(newEntry.profit) %>

        <tr>
          <td> <button type="submit" value=<%= id %> class="trasButton" name="delete"><i class="fa-regular fa-trash-can"></i></button></td>
          <td> <%= date %></td>
          <td> <%= time %></td>
          <td id="side"><%=side%></td>
          <td><%=name%></td>
          <td><%=amount%></td>
          <td><%=buyPricePercoin%></td>
          <td><%=buyPriceInTotal%></td>
          <td><%=currentPricePerCoin%></td>
          <td><%=currentPriceIntotal%></td>

          <% if  (profit < 0){%>
          <td class="red"><%=profit%></td>
          <% }else{ %>
          <td class="green"><%=profit%></td>
          <% } %>
        </tr>
        <% });%>
      </tbody>
    </table>
  </form>
</div>


<script>
  //  change side color based on value
  $(document).ready(function() {
    $("tr").find('td').each(function() {
      if ($(this).text() === "BUY") {
        $(this).css({
          "color": "green"
        })
      } else if ($(this).text() === "SELL") {
        $(this).css({
          "color": "red"
        })
      };


    });
  })
</script>
<!-- //dynamic table -->
<script>
  $(document).ready(function() {
    $('#coinsTable').DataTable({
      "iDisplayLength": 25,
      "aLengthMenu": [
        [10, 25, 50, 100, -1],
        [10, 25, 50, 100, "All"]
      ],
      "language": {
        "lengthMenu": "Show rows _MENU_ ",
        "paginate": {
          "next": ">",
          "previous": "<"
        }
      }
    });
  });
</script>

<% // Functions to retuns number in currency or precentage format 
       function currency(num) { 
         return new Intl.NumberFormat('de-DE', 
         { style: 'currency' , currency: 'USD' , maximumSignificantDigits: 4, 
         }).format(num); };
     
         function percent(num) { 
           return new Intl.NumberFormat('default',
          { style: 'percent' , minimumFractionDigits: 2,
         maximumFractionDigits: 2, 
         }).format(num / 100); } 
         
         function shortNumber(num) { 
           return new Intl.NumberFormat('de-DE',
         { maximumSignificantDigits: 3
          }).format(num); } //----------------end functions Teil ----------// 
          %>

<%- include('partials/footer'); -%>