<%- include('partials/header'); -%>


<% const date= (user.createsAt).toDateString()  %>
<form id="deleteAccountForm" action="/profile" method="post">
    <div class="profile">
      <h1><%= user.fName %> <%= user.lName %> <h4><a href="/change-name">Edit..</a></h4></h1>
<h1> <%= user.username %></h1>
<h1>Joined <%= date %></h1>
<h1> <%= user.walletName %></h1><a href="/change-wallet-name">Edit..</a></h4></h1>
<div class="form-group ">
    <button type="submit" value=<%=user._id  %> class="btn btn btn-success btn-lg " onclick="alert()" name="delete">Delete Account</button>
 
   </form>

<script>
    $(document).ready(function(){
         $("#deleteAccountForm").submit(function(event){
        event.preventDefault();
   
        var confirmSubmit =confirm("Are you sure?");
        if(confirmSubmit){
        $.post("/profile",$("#deleteAccountForm").serialize(), function(data) {
            console.log(data)
           
        })
    }
    })
    })
   
</script>


<%- include('partials/footer') %>
